# Fetisov
## DataRoot University DS100 Test #3
На проходження тесту виділяється 121 хвилина.

## SQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі sql запиту

### Коротка інформація про базу даних "Комп'ютерна фірма":
```
Схема БД складається з чотирьох таблиць:
- Product (maker, model, type)
- PC (code, model, speed, ram, hd, cd, price)
- Laptop (code, model, speed, ram, hd, price, screen)
- Printer (code, model, color, type, price)
```
Таблиця Product представляє виробника (maker), номер моделі (model) і тип ('PC' - ПК, 'Laptop' - ПК-блокнот або 'Printer' - принтер). Передбачається, що номери моделей в таблиці Product унікальні для всіх виробників і типів продуктів.

У таблиці PC для кожного ПК, який однозначно визначається унікальним кодом - code, вказані модель - model (зовнішній ключ до таблиці Product), швидкість - speed (процесора в мегагерцах), обсяг пам'яті - ram (в мегабайтах), розмір диска - hd (в гігабайтах), швидкість пристрою, що зчитує - cd (наприклад, '4x') і ціна - price.

Таблиця Laptop аналогічна таблиці РС за винятком того, що замість швидкості CD містить розмір екрану - screen (в дюймах).

У таблиці Printer для кожної моделі принтера вказується, чи є він кольоровим - color ( 'y', якщо кольоровий), тип принтера - type (лазерний - 'Laser', струменевий - 'Jet' або матричний - 'Matrix') і ціна - price.

**Дамп**: **[computer_pg_script.sql](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/computer_pg_script.sql)**.

### 1. Знайдіть номер моделі, швидкість і розмір жорсткого диску для всіх ПК вартістю менше 500 дол. Вивести: model, speed і hd.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [1]:
SELECT model, speed, hd FROM pc WHERE price < 500;

SyntaxError: invalid syntax (<ipython-input-1-ed7cada25801>, line 1)

### 2.  Знайдіть виробників принтерів. Вивести: maker.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT maker FROM product WHERE type = "Printer";

### 3. Знайдіть номер моделі, об'єм пам'яті і розміри екранів ПК-блокнотів, ціна яких перевищує 1000 дол.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT model, ram, screen FROM Laptop WHERE price > 1000;

### 4. Знайдіть всі записи таблиці Printer для кольорових принтерів.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [2]:
SELECT * FROM printer WHERE color = 'y';

NameError: name 'y' is not defined

### 5. Знайдіть номер моделі, швидкість і розмір жорсткого диску ПК, що мають 12x або 24x CD і ціну менше, ніж 600 дол.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Предикати (ч.1)](http://www.sql-tutorial.ru/ru/book_predicates_1.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [3]:
SELECT model, speed, hd FROM PC WHERE price < 600 AND (cd = '12x' OR cd = '24x');

1534

### 6. Для кожного виробника, що випускає ПК-блокноти з об'ємом жорсткого диску не менше 10 Гбайт, знайти швидкості таких ПК-блокнотів. Вивід: виробник, швидкість.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [4]:
SELECT product.maker, laptop.speed FROM product INNER JOIN laptop ON product.model = laptop.model WHERE laptop.hd >= 10;

NameError: name 'B' is not defined

### 7. Знайдіть номери моделей і ціни всіх наявних у продажі продуктів (будь-якого типу) виробника B (латинська буква).
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [ ]:
SELECT product.model, PC.price FROM product INNER JOIN pc ON product.model = pc.model WHERE product.maker = 'B';
SELECT product.model, laptop.price FROM product INNER JOIN laptop ON product.model = laptop.model WHERE product.maker = 'B';
SELECT product.model, printer.price FROM product INNER JOIN printer ON product.model = printer.model WHERE product.maker = 'B';

### 8. Знайдіть виробника, що випускає ПК, але не ПК-блокноти.
```
```
Довідка по темі:
* [Об'єднання](http://www.sql-tutorial.ru/ru/book_union.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [12]:
SELECT product.maker FROM product INNER JOIN pc ON product.model = pc.model WHERE product.maker NOT IN (SELECT product.maker FROM product INNER JOIN laptop ON product.model = laptop.model);

SyntaxError: invalid syntax (<ipython-input-12-7b88290446d3>, line 1)

### 9. Знайдіть виробників ПК з процесором не менше 450 Мгц. Вивести: Maker.
```
```
Довідка по темі:
* [Простий оператор SELECT](http://www.sql-tutorial.ru/ru/book_simple_select_statement/page1.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT product.maker FROM product INNER  JOIN pc ON product.model = pc.model WHERE pc.speed >= '450';

### 10. Знайдіть моделі принтерів, що мають найвищу ціну. Вивести: model, price.
```
```
Довідка по темі:
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
SELECT product.model, printer.price FROM product RIGHT JOIN printer ON product.model = printer.model ORDER BY price DESC LIMIT 2;

### 11. Знайдіть середню швидкість ПК.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [5]:
SELECT AVG(pc.speed) FROM pc;

608.3333333333334

### 12. Знайдіть середню швидкість ПК-блокнотів, ціна яких перевищує 1000 дол.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [6]:
SELECT AVG(speed) FROM laptop WHERE price > 1000;

700

### 13. Знайдіть середню швидкість ПК, випущених виробником A.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [ ]:
SELECT AVG(pc.speed) FROM pc LEFT JOIN product ON pc.model = product.model WHERE product.maker = 'A';

### 14. Знайти виробників, які випускають більше однієї моделі, при цьому всі випущені виробником моделі є продуктами одного типу. Вивести: maker, type.
```
```
Довідка по темі:
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 9хв
```

In [7]:
SELECT DISTINCT product.maker, product.type FROM product LEFT JOIN pc ON product.model = pc.model LEFT JOIN laptop ON product.model = laptop.model LEFT JOIN printer ON product.model = printer.model GROUP BY product.maker, product.type HAVING count(*) > 1;


D     | Printer
 E     | PC
 B     | PC

NameError: name 'D' is not defined

### 15. Знайдіть розміри жорстких дисків, які співпадають у двох і більше PC. Вивести: HD.
```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Конструкція HAVING](http://www.sql-tutorial.ru/ru/book_having_clause.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

In [8]:
SELECT hd FROM pc GROUP BY hd HAVING count(*) > 1;

IndentationError: unexpected indent (<ipython-input-8-62e74bba50b3>, line 2)

### 16. Знайдіть пари моделей PC, що мають однакові швидкість і RAM. В результаті кожна пара вказується тільки один раз, тобто (i, j), але не (j, i), Порядок виведення: модель з більшим номером, модель з меншим номером, швидкість і RAM.
```
```
Довідка по темі:
* [Використання в запиті декількох джерел записів](http://www.sql-tutorial.ru/ru/book_using_multiple_tables_in_query.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [9]:
select t1.model, t2.model, t1.speed, t2.ram from pc t1 inner join pc t2 on (t1.speed = t2.speed and t1.ram = t2.ram) where t1.model > t2.model;

SyntaxError: invalid syntax (<ipython-input-9-887733c96729>, line 1)

### 17. Знайдіть моделі ПК-блокнотів, швидкість яких менше швидкості будь-якого з ПК. Вивести: type, model, speed.
```
```
Довідка по темі:
* [Використання в запиті декількох джерел записів](http://www.sql-tutorial.ru/ru/book_using_multiple_tables_in_query.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [10]:
SELECT product.type, laptop.model, laptop.speed FROM laptop LEFT JOIN product ON laptop.model = product.model WHERE laptop.speed < ANY (SELECT speed FROM pc);

Laptop | 1298  |   350
 Laptop | 1321  |   500
 Laptop | 1750  |   750
 Laptop | 1298  |   600
 Laptop | 1752  |   750
 Laptop | 1298  |   450

NameError: name 'Laptop' is not defined

### 18. Знайдіть виробників найдешевших кольорових принтерів. Вивести: maker, price.
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [11]:
SELECT product.maker, printer.price FROM printer INNER JOIN product ON printer.model = product.model WHERE printer.color = 'y' ORDER BY printer.price;
 
D     | 270.00
 E     | 290.00

NameError: name 'D' is not defined

### 19. Для кожного виробника, що має моделі в таблиці Laptop, знайдіть середній розмір екрану ПК-блокнотів, які випускаються кожним з таких виробників. Вивести: maker, середній розмір екрану.
```
```
Довідка по темі:
* [Конструкція GROUP BY](http://www.sql-tutorial.ru/ru/book_group_by_clause.html)
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
```
```
```
```
```
```
```
Максимальна оцінка: 1 бали
Рекомендований час: 3хв
```

In [ ]:
SELECT product.maker, AVG(laptop.screen) FROM laptop INNER JOIN product ON laptop.model = product.model GROUP BY product.maker;
 A     | 13.0000000000000000
 C     | 12.0000000000000000
 B     | 14.0000000000000000

### 20. Знайти округлене до сотих часток середнє арифметичне наступних цін:
1. Ціна найдешевших Laptop-ів від виробників РС з найнижчою швидкістю CD;
2. Ціна найдорожчих РС від виробників найдешевших принтерів;
3. Ціна найдорожчих принтерів від виробників Laptop-ів з найбільшим обсягом пам'яті.
Зауваження: При розрахунку середнього відсутні ціни не враховувати.


  · Довідка по темі:
     Явні операції з'єднання
     предикат IN
     Отримання підсумкових значень
     підзапити
     Використання ключових слів ANY, ALL з предикатами порівняння
```
```
Довідка по темі:
* [Явні операції з'єднання](http://www.sql-tutorial.ru/ru/book_explicit_join_operations.html)
* [Предикат IN](http://www.sql-tutorial.ru/ru/book_predicate_in.html)
* [Отримання підсумкових значень](http://www.sql-tutorial.ru/ru/book_getting_summarizing_values.html)
* [Підзапити](http://www.sql-tutorial.ru/ru/book_subqueries.html)
* [Використання ключових слів SOME (ANY) і ALL з предикатами порівняння](http://www.sql-tutorial.ru/ru/book_using_any_all_keywords_with_comparison_predicates.html)
```
```
```
```
```
```
```
Максимальна оцінка: 5 балів
Рекомендований час: 15хв
```

In [ ]:
SELECT ROUND(laptop.price, 2) FROM product INNER JOIN laptop ON product.model = laptop.model WHERE product.maker IN (SELECT product.maker FROM product INNER JOIN pc ON product.model = pc.model ORDER BY cd LIMIT 3) ORDER BY laptop.price;
  700.00
  950.00

SELECT ROUND(pc.price, 2) FROM pc INNER JOIN product ON pc.model = product.model WHERE product.maker IN (SELECT product.maker FROM product INNER JOIN printer ON product.model = printer.model ORDER BY printer.price LIMIT 3) ORDER BY pc.price DESC LIMIT 3;
 980.00
 970.00
 950.00

SELECT ROUND(printer.price, 2) FROM printer INNER JOIN product ON printer.model = product.model WHERE product.maker IN (SELECT product.maker FROM product INNER JOIN laptop ON product.model = laptop.model ORDER BY ram DESC LIMIT 3) ORDER BY printer.price DESC LIMIT 3;
 400.00
 270.00
 150.00

## NoSQL

##### Відповідь до кожного завдання у цьому розділі записувати в наступну пусту строку в форматі MongoDB NoSQL запиту. Тобто: 
```
db.[collection_name].[action](query_params, ..).
```

Структура документу в колекції restaurants:
```
{
  "address": {
     "building": "1007",
     "coord": [ -73.856077, 40.848447 ],
     "street": "Morris Park Ave",
     "zipcode": "10462"
  },
  "borough": "Bronx",
  "cuisine": "Bakery",
  "grades": [
     { "date": { "$date": 1393804800000 }, "grade": "A", "score": 2 },
     { "date": { "$date": 1378857600000 }, "grade": "A", "score": 6 },
     { "date": { "$date": 1358985600000 }, "grade": "A", "score": 10 },
     { "date": { "$date": 1322006400000 }, "grade": "A", "score": 9 },
     { "date": { "$date": 1299715200000 }, "grade": "B", "score": 14 }
  ],
  "name": "Morris Park Bake Shop",
  "restaurant_id": "30075445"
}
```

**Дамп: [restaurants.json](https://github.com/dataroot/DRU-DS100-w3/tree/master/tests/3/v1/restaurants.json)**.

Приклад:
```
Питання:
Напишіть запит MongoDB, щоб відобразити всі документи в колекції restaurants.
```
```
Відповідь:
db.restaurants.find();
```

### 21. Напишіть запит MongoDB, щоб відобразити поля restaurant_id, name, borough та cuisine, але виключіть поле _id для всіх документів в колекції restaurants.
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 3хв
```

### 22. Напишіть запит MongoDB, щоб знайти ресторани, які досягли балів, більше 80, але менше 100.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

### 23. Напишіть запит MongoDB, щоб знайти ресторани, що належать до району Bronx, та готують американську або китайську страви.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

### 24. Наведіть приклад корисного aggregate запиту для колекції restaurants та поясніть його.
```
```
```
```
```
```
```
Максимальна оцінка: 6 балів
Рекомендований час: 10хв
```